.navbar_container{

    color:whitesmoke;
    display:flex;
    justify-content: space-between;
    
}
.navbar_left{
    font-size:26px;
    font-weight:700;
    color:purple;
}
.navbar_right{
    display:flex;
    color:white;
}
.navbar_right>p{
    margin-right:10px;
    padding:8px 10px;
    font-size: 12px;
}
.navbar_right>p:hover{
    background-color:rgb(30, 162, 61);
    cursor: pointer;
    border-radius:8px;

}